win-dotfiles/app/roming/yazi/state/
win-dotfiles/app/roming/qutebrowser/data/
win-dotfiles/app/roming/mpv/cache/
win-dotfiles/app/roming/mpv/volume
win-dotfiles/app/roming/mpv/watch_later/
win-dotfiles/others/wt/LocalState/state.json
win-dotfiles/app/local/lazygit/state.yml
