* {
  font-size: 12px;
  color: #ebdbb2;
  font-weight: 500;
  font-family: "JetBrainsMono NFP";
  margin: 0;
  padding: 0;
}
.yasb-bar {
  padding: 0;
  margin: 0;
}
.widget {
  padding: 0 8px;
  margin: 0 4px;
  border-radius: 6px;
}
.widget .icon {
  font-size: 18px;
}
.win-btn {
  background-color: #d79921;
}
.win-btn .icon {
  color: #1d2021;
}
.komorebi-workspaces {
  background-color: #1d2021;
}
.komorebi-workspaces .offline-status {
  color: #a9b665;
  font-size: 12px;
  padding: 0 4px;
  font-weight: 600;
}
.komorebi-workspaces .ws-btn {
  border: none;
  background-color: #a9b665;
  margin: 0px 4px;
  padding: 0;
  color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  height: 10px;
  width: 10px;
}
.komorebi-workspaces .ws-btn:hover {
  background-color: #689d6a;
}
.komorebi-workspaces .ws-btn.populated {
  background-color: #cc241d;
}

.komorebi-workspaces .ws-btn.active {
  color: rgba(149, 177, 255, 0);
  background-color: #98971a;
  width: 36px;
  height: 10px;
  border-radius: 5px;
}
.traffic-widget {
  background-color: #458588;
  padding: 0;
}
.traffic-widget .icon {
  color: #1d2021;
  padding-right: 6px;
  padding-left: 6px;
}
.traffic-widget .label {
  background-color: #1d2021;
  margin: 1px;
  border-radius: 6px;
  padding: 0 6px;
  color: #458588;
}

.clock-widget {
  background-color: #689d6a;
  padding: 0;
}
.clock-widget .icon {
  color: #1d2021;
  padding: 0 6px;
}
.clock-widget .label {
  background-color: #1d2021;
  color: #689d6a;
  padding: 0 6px;
  margin: 1px;
  border-radius: 6px;
}
.volume-widget {
  background-color: #e78a4e;
  padding: 0;
}
.volume-widget .icon {
  color: #1d2021;
  padding: 0 6px;
}
.volume-widget .label {
  background-color: #1d2021;
  color: #e78a4e;
  padding: 0 8px;
  margin: 1px;
  border-radius: 6px;
}
.weather-widget {
  background-color: #458588;
  padding: 0;
}
.weather-widget .icon {
  color: #1d2021;
  padding: 0 6px;
}
.weather-widget .label {
  background-color: #1d2021;
  color: #458588;
  padding: 0 6px;
  margin: 1px;
  border-radius: 6px;
}

.power-menu-widget {
  background-color: #8ec07c;
  padding: 0;
}

.power-menu-widget .label {
  color: #1d2021;
  padding: 0 8px;
  font-weight: bold;
  font-size: 14px;
}

.language-widget {
  background-color: #d79921;
  padding: 0;
}
.language-widget .icon {
  color: #1d2021;
  padding: 0 6px;
}
.language-widget .label {
  background-color: #1d2021;
  color: #d79921;
  padding: 0 8px;
  margin: 1px;
  border-radius: 6px;
}
.taskbar-widget {
  background-color: #1d2021;
  padding: 0;
}
.taskbar-widget .app-icon {
  padding: 0 8px;
  border: none;
  margin: 0;
}
.active-window-widget {
  background-color: #689d6a;
  padding: 0;
}
.active-window-widget .label {
  color: #689d6a;
  background-color: #1d2021;
  padding: 0 8px;
  margin: 1px;
  border-radius: 6px;
}
.active-window-widget .icon {
  padding: 0 8px;
  border: none;
  margin: 0;
  background-color: #689d6a;
}

/*POWER MENU POPUP*/
.uptime {
  font-size: 14px;
  margin-bottom: 10px;
  color: rgba(191, 202, 219, 0.726);
  font-weight: 600;
}
.power-menu-popup {
  background-color: #1d2021;
  border-radius: 12px;
}
.power-menu-popup .button {
  padding: 0;
  width: 180px;
  height: 230px;
  border-radius: 8px;
  background-color: #1d2021;
  color: #689d6a;
  border: 2px solid #689d6a;
  margin: 2px;
}
.power-menu-popup .button.hover {
  background-color: #689d6a;
}
.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #ebdbb2;
}
.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 32px;
  color: #ebdbb2;
}
.power-menu-popup .button.cancel .icon {
  padding: 0;
  margin: 0;
}
.power-menu-popup .button.cancel .label {
  margin: 0;
}

.power-menu-popup .button.cancel {
  height: 32px;
  padding: 20px;
  border-radius: 4px;
  border: none;
  background-color: #1d2021;
  border: 2px solid #689d6a;
}
.power-menu-popup .button.cancel:hover {
  background-color: #689d6a;
  color: #1d2021;
}
