:root {
  --red: #ea6962;
  --maroon: #ffa066;
  --yellow: #d8a657;
  --sky: #a9b665;
  --sapphire: #7daea3;
  --blue: #89b482;
  --lavender: #d3869b;
  --text: #d4be98;
  --subtext1: #c8c093;
  --subtext0: #c8c093;
  --overlay1: #504945;
  --surface2: #32302f;
  --surface1: #0d0c0c;
  --surface0: #0d0c0c;
  --base: #181616;
  --mantle: #181616;
  --crust: #0d0c0c;
}
* {
  font-size: 12px;
  color: var(--subtext0);
  font-weight: 600;
  font-family: "JetBrainsMono NFP";
  margin: 0;
  padding: 0;
}
.yasb-bar {
  padding: 0;
  margin: 0;
  background-color: var(--mantle);
  border: 2px solid #32302f;
}
.widget {
  padding: 0 12px;
  margin: 0;
}
.icon {
  font-size: 16px;
}
.widget .label {
  padding: 0px 2px;
}

.clock-widget {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}
.apps-widget {
  padding: 0 4px 0 2px;
}
.apps-widget .widget-container .label {
  color: var(--blue);
}
.apps-widget .widget-container,
.komorebi-workspaces .widget-container {
  background-color: var(--crust);
  margin: 4px 0 4px 0;
  border-radius: 0px;
  border: none;
}
.komorebi-workspaces .widget-container {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-left: 4px;
}
.komorebi-workspaces {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0 4px 0 0;
}
.komorebi-workspaces .offline-status {
  color: var(--surface2);
  font-size: 12px;
  padding: 0 0 0 4px;
  font-weight: 600;
}
.komorebi-workspaces .ws-btn {
  border: none;
  background-color: transparent;
  margin: 0;
  font-size: 12px;
  color: var(--overlay1);
  height: 28px;
  width: 18px;
}
.komorebi-workspaces .ws-btn:hover {
  color: var(--subtext1);
}
.komorebi-workspaces .ws-btn.populated {
  color: transparent;
  width: 10px;
  height: 10px;
  background-color: var(--lavender);
  border-radius: 5px;
  margin: 0 4px;
  font-size: 1px;
}
.komorebi-workspaces .ws-btn.active {
  color: transparent;
  background-color: var(--blue);
  width: 36px;
  height: 10px;
  margin: 0 4px;
  border-radius: 5px;
}
.apps-widget .label {
  font-size: 14px;
  padding: 0 2px;
  color: var(--subtext0);
}
.apps-widget .label:hover {
  color: var(--text);
}
.uptime {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--text);
  font-weight: 600;
}
.power-menu-widget .label {
  color: var(--red);
  font-size: 15px;
}
.power-menu-popup {
  background-color: transparent;
}
.power-menu-popup .button {
  padding: 0;
  width: 180px;
  height: 230px;
  border-radius: 8px;
  background-color: var(--base);
  color: var(--text);
  border-left: 4px solid rgba(58, 59, 83, 0);
  border-right: 4px solid rgba(58, 59, 83, 0);
  border-top: 8px solid rgba(58, 59, 83, 0);
  border-bottom: 8px solid rgba(58, 59, 83, 0);
  margin: 0px;
}
.power-menu-popup .button.hover {
  background-color: var(--surface0);
  border-left: 4px solid var(--surface0);
  border-right: 4px solid var(--surface0);
  border-top: 8px solid var(--surface0);
  border-bottom: 8px solid var(--surface0);
}
.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
}
.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 32px;
  color: var(--text);
}
.power-menu-popup .button.cancel .icon {
  padding: 0;
  margin: 0;
}
.power-menu-popup .button.cancel .label {
  color: var(--blue);
  margin: 0;
}
.power-menu-popup .button.cancel {
  padding: 20px;
  height: 32px;
  border-radius: 0px;
}
.battery-widget .icon {
  color: var(--sapphire);
  margin: 1px 2px 0 0;
}
.volume-widget .icon {
  color: var(--blue);
  margin: 1px 2px 0 0;
}
.brightness-widget .widget-container .icon {
  color: var(--lavender);
  margin: 1px 2px 0 0;
}
.weather-widget,
.battery-widget,
.cpu-widget,
.brightness-widget,
.volume-widget {
  padding: 0 6px;
}
.weather-widget .icon {
  font-size: 18px;
  margin: 0 2px 1px 0;
  color: var(--sky);
}
.cpu-widget .icon,
.memory-widget .icon {
  font-size: 14px;
  color: var(--maroon);
  margin: 0 2px 1px 0;
}
.media-widget {
  padding: 0;
  margin: 0;
}
.media-widget .label {
  color: var(--lavender);
  padding: 0px;
  padding-right: 16px;
}
.media-widget .btn {
  color: var(--overlay1);
  padding: 0 0px;
  padding-right: 0px;
  margin: 4px 0;
  font-family: Segoe Fluent Icons;
}
.media-widget .btn:hover {
  color: var(--subtext0);
}
.media-widget .btn.play {
  font-size: 16px;
}
.media-widget .btn.prev {
  padding: 0 0px 0 0px;
  font-size: 12px;
}
.media-widget .btn.next {
  padding: 0 8px 0 0px;
  font-size: 12px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
  color: var(--surface1);
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
}
.taskbar-widget {
  padding: 0 4px 0 4px;
  border-radius: 0px;
}
.taskbar-widget .app-icon {
  padding: 0 4px 0 4px;
  margin: 4px 0 4px 0;
  border-radius: 0px;
  background-color: var(--crust);
  border: none;
}
.win-btn .icon {
  color: var(--blue);
  font-size: 18px;
}
